fastapi #si
uvicorn #si
pydantic #si
python-dotenv #si
pydantic #si
pyjwt #si
pymongo #si
odmantic #si
motor #si
pytest #si
httpx #si
pytest-asyncio #si
pytest-mock #si
prometheus-fastapi-instrumentator
prometheus-client